{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Store - Регистрация</title>
    <link rel="stylesheet" href="{% static 'assets/css/auth.css'%}">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-primary">
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                {% if form.errors %}
                <div
                  class="alert alert-warning alert-dismissible fade show"
                  role="alert"
                  style="margin-top: 50px">
                  {{ form.errors }}
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %}
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">
                      Создать аккаунт
                    </h3>
                  </div>
                  <div class="card-body">
                    <form action="{% url 'registration' %}" method="post">
                    {% csrf_token %}
                      <div class="form-row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="small mb-1" for="givetgid"
                              >Получить Telegram ID</label
                            >
                            <a href="https://t.me/sopstvp_bot?start=telegram_id" class="btn btn-primary btn-block" target="_blank">
                              Telegram ID
                            </a>

                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="small mb-1" for="{{ form.user_id.id_for_label }}">Telegram ID</label>
                            {{ form.user_id }}
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="small mb-1" for="{{ form.first_name.id_for_label }}">Имя</label>
                            {{ form.first_name }}
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                            {{ form.last_name }}
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="small mb-1" for="{{ form.sop.id_for_label }}">
                              Площадка СОП
                            </label>
                            {{ form.sop }}
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="small mb-1" for="{{ form.role.id_for_label }}">Должность</label>
                            {{ form.role }}
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="small mb-1" for="{{ form.username.id_for_label }}">Логин</label>
                            {{ form.username }}
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="small mb-1" for="{{ form.password1.id_for_label }}">Пароль</label>
                            {{ form.password1 }}
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="col-md-12">
                          <label class="small mb-1" for="{{ form.password2.id_for_label }}">Подтвердите пароль</label>
                            {{ form.password2 }}
                        </div>
                      </div>
                      <div class="form-group mt-4 mb-0">
                        <input
                          class="btn btn-primary btn-block"
                          type="submit"
                          value="Создать аккаунт"
                        />
                      </div>
                    </form>
                  </div>
                  <div class="card-footer text-center">
                    <div class="small">
                      <a href="{% url 'login' %}">Уже есть аккаунт? Авторизоваться</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'assets/js/auth-admin.js' %}"></script>
  </body>
</html>
