<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8" />
  <title>Карта бонусов и ошибок</title>
  <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/charts.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/index.css'%}" />
</head>

<body>
  <!-- Заголовок -->
  <header>
    <div class="name_project">
      <h1 class="name_main">Карта ошибок</h1>
    </div>

    <div class="exit">
      <div class="profile">Иконка профиля</div>
      <div class="exit_icon">Exit</div>
    </div>
  </header>
  <!-- Заголовок конец-->
  <!-- слайдер сотрудников -->
  <div class="worker_cards">
    <div class="swiper mySwiper">
      <div class="swiper-button-next">
        <div class="cardShadow"></div>
      </div>

      <div class="swiper-wrapper">

        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия1
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия2
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия3
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия4
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия5
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия6
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия7
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия8
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия9
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия10
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия11
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия12
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия13
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия14
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия15
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия16
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия17
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия18
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия19
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия20
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия21
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия22
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>

        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия23
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия24
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия25
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия26
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия27
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия28
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия29
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия30
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия31
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия32
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия33
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия34
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>
        <!-- слайд1 -->
        <div class="swiper-slide">
          <img class="avatar" src="assets/imgs/avatar.png" style="border-color: #8AC44B;"></img>
          <label class="FIO">
            Имя Фамилия35
          </label>

          <img class="imgLike" src="assets/imgs/heart.svg"></img>
          <label class="amountLikes">
            19
          </label>
        </div>



      </div>
      <!--  кнопки навигации в слайдере -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>

  </div>
  <!-- слайдер сотрудников конец -->

  <div class="content">

    <!-- Кварталы -->
    <div class="quarterBox">
      <button class="quarterButton">1Q</button>
      <button class="quarterButton">2Q</button>
      <button class="quarterButton">3Q</button>
      <button class="quarterButton">4Q</button>
    </div>


    <div class="errorsBar">

      <div>
        <canvas id="myChart"></canvas>
      </div>
<!--      <h3 class="chartHeader">Количество ошибок</h3>
      <div class="whiteBlock"></div>

      <div class="axis">


        <div class="end-value" data-display-label="10"></div>
        <div class="end-value" data-display-label="8"></div>
        <div class="end-value" data-display-label="6"></div>
        <div class="end-value" data-display-label="4"></div>
        <div class="end-value" data-display-label="2"></div>
        <div class="end-value" data-display-label="0"></div>


      </div>

      <div class="bar-chart" style="--max-value:10; --min-value: 0;">



        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:0" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:1" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:10" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:2" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:3" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:6" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:7" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:8" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:9" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:2" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:3" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:6" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:7" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:8" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:9" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:2" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:3" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:6" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:7" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:8" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:9" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:2" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:3" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:6" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:7" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:8" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:9" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:10" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:6" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:0.1" data-axis-label="ЧА"></div>

      </div>
-->

    </div>


    <div class="bonusesBar">
      <h3 class="chartHeader">Количество ошибок</h3>
      <div class="whiteBlock"></div>

      <div class="axis">


        <div class="end-value" data-display-label="10"></div>
        <div class="end-value" data-display-label="8"></div>
        <div class="end-value" data-display-label="6"></div>
        <div class="end-value" data-display-label="4"></div>
        <div class="end-value" data-display-label="2"></div>
        <div class="end-value" data-display-label="0"></div>


      </div>

      <div class="bar-chart" style="--max-value:10; --min-value: 0;">



        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:0" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:1" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:10" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:2" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:3" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:6" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:7" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:8" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:9" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:2" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:3" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:6" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:7" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:8" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:9" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:2" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:3" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:6" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:7" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:8" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:9" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:2" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:3" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:6" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:7" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:8" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:9" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:10" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:6" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:4" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:5" data-axis-label="ЧА"></div>
        <div class="bar" style="--bar-value:0.1" data-axis-label="ЧА"></div>

      </div>


    </div>
    <div class="top-errors"></div>
  </div>

    <div class="tabl">

      <div class="wrapper">
        <input type="radio" name="slider" checked id="bonuses">
        <input type="radio" name="slider" id="errors">
        <nav>
          <label for="bonuses" class="bonuses">Бонусы</label>
          <label for="errors" class="errors">Ошибки</label>
          <div class="slider"></div>
        </nav>
    
        <section>
          <div class="content bonusesTable">
            <div class="tableFixHead">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 90px">ФИО</th>
                    <th style="width: 250px">Бонус</th>
                    <th style="width: 110px">Категория</th>
                    <th style="width: 250px">Комментарии</th>
                    <th style="width: 90px">Кто внёс</th>
                    <th style="width: 25px">Дата</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ фыва фыва фывафывафывафывал олфжылджывоаждл шыаушол ы</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов С</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                  <tr>
                    <td>Хорошов Х</td>
                    <td>Восстановил документ</td>
                    <td>Ответственность</td>
                    <td>Удалов — дэбил</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                </tbody>
              </table>
    
            </div>
          </div>
          <div class="content errorsTable">
            <div class="tableFixHead">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 90px">ФИО</th>
                    <th style="width: 250px">Ошибка</th>
                    <th style="width: 110px">Категория</th>
                    <th style="width: 250px">Комментарии</th>
                    <th style="width: 90px">Кто внёс</th>
                    <th style="width: 25px">Дата</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ 'name.1' }}</td>
                    <td>Удалил документ</td>
                    <td>Ответственность</td>
                    <td>Больше не буду</td>
                    <td>Семёнов Семён Семёнович</td>
                    <td>01.01.1990</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
    
    
    
      </div>
    


    </div>


</body>

<!-- Либа свайпера-->
<script src="{% static 'assets/js/swiper-bundle.min.js'%}"></script>

<!-- Инициализация свайпера -->
<script src="{% static 'assets/js/swiper_init.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  var labels = [
    {% for item in data %}
      "{{ item.date }}",
    {% endfor %}
  ]

  var data = [
    {% for item in data %}
      {{ item.value }},
    {% endfor %}
  ]

  var densityData = {

  data: data
};
var barChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: labels,
    datasets: [densityData]
  }
});
</script>
</html>