<!-- Бонусы -->
<div class="bonusesBar">
    <h3 class="chartHeader">Количество бонусов</h3>
    <div class="whiteBlock"></div>
    <div class="axis">
        <div class="end-value" data-display-label="{{ bonus_mistake_count_list.0.max_bonus }}"></div>
        <div class="end-value" data-display-label="{{ bonus_mistake_count_list.0.tab4_bonus }}"></div>
        <div class="end-value" data-display-label="{{ bonus_mistake_count_list.0.tab3_bonus }}"></div>
        <div class="end-value" data-display-label="{{ bonus_mistake_count_list.0.tab2_bonus }}"></div>
        <div class="end-value" data-display-label="{{ bonus_mistake_count_list.0.tab1_bonus }}"></div>
        <div class="end-value" data-display-label="0"></div>
    </div>
    <div class="bar-chart" style="--max-value:{{ bonus_mistake_count_list.0.max_bonus }}; --min-value: 0;">
        {% for user in bonus_list %}
        {% if user.count == 0 %}
        <div class="bar" style="--bar-value:0.1" data-axis-label="{{ user.short }}" data-tooltip="{{ user.tooltip }}: {{ user.count }} шт. "></div>
        {% else %}
        <div class="bar" style="--bar-value:{{ user.count }}" data-axis-label="{{ user.short }}" data-tooltip="{{ user.tooltip }}: {{ user.count }} шт. "></div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<!-- Бонусы -->