* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-Regular.ttf);
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(123, 160, 91, 1);
  -webkit-border-radius: 5px;
}

body {
  background: #F2F3F0;
  position: relative;
  height: 100%;
  background: #F2F3F0;
  font-family: 'Nunito';
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;

}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;

  
}

.exit {
  display: flex;

}
.profile{
  width: 36px;
  height: 36px;
  object-fit: cover;

  border-radius: 50%;

  
}
.exit_icon {
  margin-left: 15px;
  margin-right: 30px;
  background-image: url(../imgs/log-out.svg);
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;

}

.name_main {
  font-family: 'Nunito';
  font-style: normal;
  font-size: 24px;
  line-height: 33px;

  color: #3E4E2F;
}

/*
div {
	border-radius: 10px;
	/*border: 1px solid black; 
	background: #aaff00;
}*/


.worker_cards {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 168px;
  margin-left: 40px;
  margin-right: 40px;
 

}

/* стили слайдера */

.swiper {

  background: #F2F3F0;
  width: 102%;
  
  position: relative;
  height: 146px;
  display: block;

  margin-left: -12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.swiper-slide {
  
  text-align: center;
  font-size: 14px;
  background: #fff;
  display: inline-block;
  justify-content: center;
  vertical-align: top;
  width: 109px;
  height: 140px;
  border-radius: 10px;
 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
 /*border: solid black 1px;*/

}

:root {

  --swiper-theme-color: rgba(255, 255, 255, 0);
  ;
}

.swiper-button-next {
  background-image: url(../imgs/buttonNext.svg);
  left: 97%;
  width: 44px;
  height: 44px;

}


.swiper-button-prev {
  background-image: url(../imgs/buttonPrev.svg);
  margin-left: 94%;
  width: 44px;
  height: 44px;
}


.swiper-button-next, .swiper-button-prev {

  background-size: 100% 100%;

  opacity: 0.65;
  transition: 0.2s ease-out;
  background-repeat: no-repeat;
  width: 55;
  cursor: pointer;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
  transition: .5s ease-in;

}

/* размытие тенью карточек справа */
.cardShadow {
  position: fixed;
  display: flex;

  width: 117px;
  height: 168px;

  margin-right:20px;

  margin-top: 7px;
  z-index: 3;

  pointer-events: none;

  background: linear-gradient(266.66deg, #F2F3F0 0.32%, rgba(242, 243, 240, 0.555) 63.28%, rgba(255, 255, 255, 0) 97.03%);
}

/* фотка в карточке */
.swiper-slide .avatar {
  object-fit: cover;

  margin-top: 10px;
  margin-bottom: 7px;

  width: 71px;
  height: 71px;

  border-radius: 50%;
  border: 3px solid;

}

/* фотка в карточке */
.swiper-slide .avatar.selected {
  object-fit: cover;

  margin-top: 15px;
  margin-bottom: 7px;

  width: 71px;
  height: 71px;

  border-radius: 50%;
  border: 3px solid;

}

.swiper-slide:hover > .avatar {
  object-fit: cover;
  z-index: -3;
  margin-top: 15px;
  margin-bottom: 7px;

  width: 71px;
  height: 71px;

  border-radius: 50%;
  border: 3px solid;

}

.swiper-slide:hover > .amountLikes {
   /* border: solid rgb(252, 1, 1) 1px;*/
  background-image: url(../imgs/heart_invert.svg);
  background-repeat: no-repeat;
  /*animation: heightSlide .2s ease-in;*/
  z-index: -3;
  
}


.swiper-slide .FIO {
  display: block;
  z-index: 99;
  height: 16px;
  z-index: -5;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #000000;

  flex: none;
  order: 1;
  flex-grow: 0;

}



/* иконка сердечка  */
.swiper-slide .imgLike {
  background-image: url(../imgs/404/4.svg);
  margin-top: 5px;
  margin-left: -22px;

  display: inline-block;

  Width: 21px;
  Height: 20px;

  position: absolute;

}
.swiper-slide .imgLike.selected {
  /*border: solid rgb(252, 1, 1) 1px;*/
  background-image: url(../imgs/heart.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 18px;
  width: 50px;


  justify-content:center;
  margin-left: 34px;
  padding-left: 5px;
  margin-top: 5px;
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  z-index: 99;
  /* identical to box height */

  /* black */
  color: #000000;

}

/* количество лайков  */
.swiper-slide .amountLikes {
  /*border: solid rgb(252, 1, 1) 1px;*/
  background-image: url(../imgs/heart.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 18px;
  width: 50px;
  background-repeat: no-repeat;

  justify-content:center;
  margin-left: 34px;
  padding-left: 5px;
  margin-top: 5px;
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  z-index: 99;
  /* identical to box height */

  /* black */
  color: #000000;
}


/* количество лайков  */
.swiper-slide .amountLikes.selected {
   /* border: solid rgb(252, 1, 1) 1px;*/
   background-image: url(../imgs/heart_invert.svg);
   background-repeat: no-repeat;
   animation: none;
   transition: none;
}


/* стили слайдера конец */

/* mid */
.content {
  /*border: solid black 1px;*/
  height: 207px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  display: flex;

  justify-content: space-between;
}

/* кварталы */
/* задник */
.quarterBox {
  padding-top: 5px;
  padding-left: 13px;
  width: 60px;

  background: white;
  min-width: 50px;
  border-radius: 10px;
  opacity: 0.99;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
}

.quarterButton {

  border-radius: 5px;
  height: 38px;
  width: 38px;
  color: black;
  cursor: pointer;
  border: 1px solid #7BA05B;
  background: white;
  margin: 9%;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}


.quarterButton-Selected{
  border-radius: 5px;
  height: 38px;
  width: 38px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid #7BA05B;
  background: white;
  margin: 9%;
  color: white;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  background-color: #7CA05A; 
}

.quarterButton:hover {
  background-color: #7CA05A;
  color: white;
  border: none;
  transition: background-color .4s ease-in-out;
}
.quarterButton:active, .quarterButton-Selected:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);


 }

/* графики */

.bonusesBar{
    width: 32%;
  background: white;
  border-radius: 10px;

  overflow-x: scroll;
  overflow-y: hidden;
  ;
  
}

.errorsBar {
  width: 32%;
  background: white;
  border-radius: 10px;

  overflow-x: auto;
  /* прокрутка по горизонтали */
}

.top-errors {
	width: 27%;
	background: white;
  border-radius: 10px;
}

/* графики конец */




/* таб-слайдер*/
.wrapper {
  padding-left: 22px;
  padding-top: 22px;
}

/* задник слайдера */
.wrapper nav {
  position: relative;
  width: 345.4px;
  height: 34px;
  display: flex;
  border-radius: 8.91px;
  align-items: center;
  background: rgba(118, 118, 128, 0.12);

}

/* курсор и тест */
.wrapper nav label {
  display: block;
  width: 169.35px;
  position: relative;
  /*border: 1px solid ;*/
  font-family: 'Nunito';
  font-size: 16px;
  left: 3.6px;
  color: black;
  text-align: center;
  line-height: 28px;

  cursor: pointer;
  z-index: 1;
  height: 28px;
  border-radius: 8.91px;
  transition: all 0.3s ease-in;
}

.wrapper nav label:hover {
  background: rgba(255, 255, 255, 0.7);

  
  position: relative;
}

/* какой текст будет у выделенной кнопки */
#bonuses:checked~nav label.bonuses,
#errors:checked~nav label.errors {
  color: rgb(0, 0, 0);
  font-family: 'Nunito';

  transition: all 0.5s ease-in;
}

/* блок слайдера */
nav .slider {
  position: absolute;
  height: 28px;
  width: 169px;
  left: 3px;
  margin-right: 3px;
  z-index: 0;
  border-radius: 8.91px;
  background: rgb(255, 255, 255);
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);

}

input[type="radio"] {
  display: none;
}

/* раз кнопки две — каждой по 50% */
#errors:checked~nav .slider {
  left: 50.5%;
}

section .content {
  display: none;
  background: #fff;

}

#bonuses:checked~section .bonusesTable,
#errors:checked~section .errorsTable {
  display: block;

}

.tabl {
	height: 450px;
	margin-left: 40px;
	margin-right:40px;
	background: white;
  border-radius: 10px;

}

.table {
  width: 100%;

  text-align: left;
  font-family: 'Nunito';
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0 1px;
  
  /* correct ` on first border spacing if desired */
}

.table th {
  font-weight: bold;
  padding-left: 25px;
  background: #ffffff;
  border: none;
  height: 45px;






  /*border-bottom: 5px solid #F2F8F8;*/
}

.tableFixHead {
  overflow-y: auto;
  height: 385px;

}

.tableFixHead thead th {
  position: sticky;
  top: 0px;
  background-color: white;

  z-index: 1;

}

.table td {
  border: solid 1px rgba(118, 118, 128, 0.18);
  border-style: solid none none none;
  

}

td {


  padding: 10px;
  background: rgba(255, 255, 255, 0.261);

}




.tooltip {
  position: fixed;
  padding: 5px 16px;
  margin-top: 15px;

    transition: 0.55s opacity, 0.55s visibility;
  border-radius: 7px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  
  /* white */
  color: #FFFFFF;
  
  
  background: #999999EF;
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);

}




td:first-child {
  border-left-style: none;

}

td:last-child {
  border-right-style: none;


}

:root {
  --max-value: 100;
  --min-value: 0;
  --bar-value: 0;
}

.bonusesBar .bar-chart {
  height: 120px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  z-index: 1;
  padding-bottom: 12px;
  padding-left: 5px;
  margin-top: 62px;
  margin-left: 55px;
}

.whiteBlock {

  height: 35px;
  top: 83%;
  left: 0;
  width: 50px;
  z-index: 22;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.98);
  margin-left: 0px;
  padding-right: 5px;
}

.axis {

  padding-left: 5px;
  margin-top: 60px;
  position: absolute;

  display: flex;
  flex-direction: column;
  height: 127px;


  width: 50px;
  z-index: 2;
  justify-content: space-between;
  color: rgb(204, 204, 204);
  font-size: 14;

  background-color: rgba(255, 255, 255, 0.99);


  -webkit-box-shadow: 21px 4px 50px -19px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 21px 4px 50px -19px rgba(0, 0, 0, 0.2);
  box-shadow: 21px 4px 50px -19px rgba(0, 0, 0, 0.2);
  font-family: 'Nunito';



}

.axis>div {
  position: relative;
  margin-top: -5px;

}

.axis>div:before {
  content: attr(data-display-label);
  width: calc(100% - 15px);
  text-align: right;
  display: inline-block;
  padding-right: 5px;
  display: inline-block;

}

.axis>div:after {
  content: "";
  width: 10px;
  height: 1px;
  background: rgba(204, 204, 204, 1);
  top: 24px;
  left: 3;
  display: inline-block;


  vertical-align: middle;
}

.axis>div:first-child:after {
  vertical-align: middle;
}

.bar {
  position: relative;
  display: flex;
  width: 8px;
  align-items: flex-end;
  margin-right: 15px;
  left: 5px;
  border-radius: 5px;
  background-color: #7ba05b1e;

  /*    border: solid 1px  rgb(225, 255, 0);
*/
}

.bar:before {
  position: absolute;
  top: calc(100% - 1px);
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  color: rgba(204, 204, 204, 1);
  font-size: 12px;
  left: -5px;
  padding-top: 5px;
  content: attr(data-axis-label);
  font-family: 'Nunito';

}

.bar:after {
  width: 8px;
  position: relative;
  content: "";
  background: #7BA05B;
  border-radius: 5px;
  z-index: -1;
  height: calc(var(--bar-value) / (var(--max-value)) * 100%);
  animation: height 1.3s cubic-bezier(0.2, -0.55, 0.265, 2);

}

@keyframes height {
  0% {
    height: 0px;
  }
}

.chartHeader {

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 4;
  color: #3E4E2F;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 15px;

}

/* гистограмма конец */


/* страница 404 */
.notFoundBox{
  border: #000 1px solid;
  margin-left: 30%;

  margin-top: 10%;
  width:  40%;
  height: 500px;
  display: flex;
  position: relative;
  justify-content: space-between;

}
.notFoundFourLeft{
  background-image: url(../imgs/404/4.svg);
  position: relative;
  display: flex;
  margin-left: 5%;
  Width:161.37px;
  Height:301.2px;
  margin-top: 4.69%;
  margin-bottom: 7.82%;
  border: #000 1px solid;
}
.notFoundZero{
  background-image: url(../imgs/404/0.svg);
  position: absolute;
  display: flex;
  z-index: 2;

  Width:244.5px;
  Height:323.25px;
  margin-left: 35%;
  margin-right: 28.12%;
  margin-top: 4.69%;
  margin-bottom: 7.82%;
  border: #000 1px solid;
}


.notFoundFourRight{
  background-image: url(../imgs/404/4.svg);
  position: absolute;
  display: flex;
  margin-left: 75%;
  z-index: 2;
  Width:161.37px;
  Height:301.2px;
  border: #000 1px solid;
  margin-top: 4.69%;
  margin-bottom: 7.82%;

}

.notFoundToBack{
  box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 20px;
gap: 10px;

position: absolute;
width: 163px;
height: 55px;
left: 45%;
top: 100%;
color: white; ;
/* main */
background: #7BA05B;

/* white */
border: 1px solid #FFFFFF;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
border-radius: 10px;
}
/* страница 404 конец */



/* ПРОФИЛИ СОТРУДНИКОВ НАЧАЛО*/
@keyframes heightSlide {
  0% {
    height: 145px;
    border-radius: 20px;

  }
}
.swiper-slide:hover{
  background: #7BA05B; 

  width: 109px;
  height: 155px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  margin-top: -5px;
  z-index: 999;
  transition: background-color .4s ease-in-out;
  animation: heightSlide .15s ease-in-out;



  cursor: pointer;

}

a{
  text-decoration: none;
}

.swiper-slide.selected {

  text-align: center;
  font-size: 14px;
  background: #7BA05B;
  display: inline-block;
  justify-content: center;
  vertical-align: top;
  width: 109px;
  height: 155px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  margin-top: -5px;




  background: #7BA05B; 
  text-align: center;
  font-size: 14px;
  background: #7BA05B;
  display: inline-block;
  justify-content: center;
  vertical-align: top;
  width: 109px;
  height: 155px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  margin-top: -5px;
}

.contentProfiles {
  /*border: solid black 1px;*/
  height: 207px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  display: flex;

  justify-content: flex-start;
}

.allErrors  {
  padding-top: 5px;

  width: 80px;
  margin-left: 40px;
  background: white;
  min-width: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;

/* header */
color: #3E4E2F;
opacity: 0.99;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
}


.allBonuses {
  padding-top: 5px;

  width: 80px;
  margin-left: 20px;
  background: white;
  min-width: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;

/* header */
color: #3E4E2F;

opacity: 0.99;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
}


.labelTop{

  margin-top: 10px;
  
}

.labelCenter_errors{


  font-family: 'NotoSerifTamilSlanted';
  font-style: italic;
  font-weight: 200;
  font-size: 90px;
  line-height: 140px;
  display: flex;
  align-items: center;
  text-align: center;
  
  /* red6 */
  color: #B72025;

}

.labelCenter_bonuses{
  /*border: solid 1px black;*/

  font-family: 'NotoSerifTamilSlanted';
  font-style: italic;
  font-weight: 200;
  font-size: 90px;
  line-height: 140px;
  display: flex;
  align-items: center;
  text-align: center;
  
  /* red6 */
  color: #7BA05B;

}


.labelBottom{
  margin-bottom: 15px;


}


.LikesTableBlock {
  padding-top: 5px;
/*  border: solid 1px black;*/
  width: 320px;
  margin-left: 20px;
  background: white;

  border-radius: 10px;

  overflow-y: auto;

  opacity: 0.99;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);


  font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;


}

.LikesTable_labelTop{
  /*border: solid 1px black;*/
  font-weight: 700;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 20px;

}


.LikesTable{
 /* border: solid 1px black;*/
  width: 100%;
  max-width:100%;
  height: 100px;
  border-spacing: 2px;
  text-align: left;

}

.labelTopTable{
  z-index: 99;
  position: absolute;
  margin-top: -5px;
  margin-left: 2px;
  padding-left: 20px;
  padding-top: 20px;
  width: 290px;
  background-color: white;
  font-size: 18px;
  border-radius: 10px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;

  line-height: 19px;
  color: #3E4E2F
}

.tableLikes{
  border-collapse: separate; /* Способ отображения границы */ 
  margin-top: 40px;
}
.tableLikes td{
  padding: 4px;
}

.labelInfoLike{
  font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

/* identical to box height */
display: flex;
align-items: center;

/* black */
color: #000000;
}

.labelInfoLikeDate{
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

/* identical to box height */
display: flex;
align-items: center;

/* titles */
color: #999999;

}
/* ПРОФИЛИ СОТРУДНИКОВ КОНЕЦ*/
/* Аутентификация*/

.authContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.authFormHello{
  margin-top: 189px;
  background: #7BA05B;
  opacity: 0.99;
  width: 350px;
  height: 370px;
  left: 698px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
  border-radius: 0px 10px 10px 0px;




/* identical to box height */

/* white */
color: #FFFFFF;

}
.authForm{

  width: 544px;
height: 370px;
left: 153px;
margin-top: 189px;

/* white */
background: #FFFFFF;
opacity: 0.99;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
border-radius: 10px 0px 0px 10px;
}
.authHello{
  font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
}

.authWelcome{
  position: absolute;
  margin-left: 54px;
  margin-top: 25px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;  

/* identical to box height */

/* header */
color: #3E4E2F;


}
.authLogin{
  
 
  margin-top: 80px;
  margin-left: 50px;
  box-sizing: border-box;
  
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  
  width: 326px;
  height: 54px;
  
  /* devider */
  border: 1px solid #EDEBEB;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.06));
  border-radius: 10px;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.authPass{
  border: 1px solid #7BA05B;
  margin-top: 20px;
  margin-left: 50px;
  box-sizing: border-box;
  
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  
  width: 326px;
  height: 54px;
  
  /* devider */
  border: 1px solid #EDEBEB;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.06));
  border-radius: 10px;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}





.authGoToDash:hover {
  background-color: #7CA05A;
  color: white;
  border: none;
  transition: background-color .4s ease-in-out;
}

.authGoToDash:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);


 }
.authGoToDash{
  border-radius: 5px;
  height: 55px;
  width: 150px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid #7BA05B;
  background: white;
  margin: 9%;
  margin-left: 42%;
  color: white;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  background-color: #7CA05A; 
}
/* Аутентификация конец*/


