<div class="tabl">
    <div class="wrapper">
        <input type="radio" name="slider" checked id="bonuses">
        <input type="radio" name="slider" id="errors">
        <nav>
            <label for="bonuses" class="bonuses">Бонусы</label>
            <label for="errors" class="errors">Ошибки</label>
            <div class="slider"></div>
        </nav>

        <section>
            <div class="content bonusesTable">
                <div class="tableFixHead">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 90px">ФИО</th>
                            <th style="width: 250px">Бонус</th>
                            <th style="width: 110px">Категория</th>
                            <th style="width: 250px">Комментарии</th>
                            <th style="width: 90px">Кто внёс</th>
                            <th style="width: 25px">Дата</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bonus in bonus_list_map %}
                        <tr>
                            <td>{{ bonus.employee }}</td>
                            <td>{{ bonus.activity }}</td>
                            <td>{{ bonus.criterion }}</td>
                            <td>{{ bonus.comment }}</td>
                            <td>{{ bonus.initiator }}</td>
                            <td>{{ bonus.date|date:'d.m.Y'  }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="content errorsTable">
                <div class="tableFixHead">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 90px">ФИО</th>
                            <th style="width: 250px">Ошибка</th>
                            <th style="width: 110px">Категория</th>
                            <th style="width: 250px">Комментарии</th>
                            <th style="width: 90px">Кто внёс</th>
                            <th style="width: 25px">Дата</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mistake in mistake_list_map %}
                        <tr>
                            <td>{{ mistake.employee }}</td>
                            <td>{{ mistake.activity }}</td>
                            <td>{{ mistake.criterion }}</td>
                            <td>{{ mistake.comment }}</td>
                            <td>{{ mistake.initiator }}</td>
                            <td>{{ mistake.date|date:'d.m.Y' }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Таблица -->