<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Карта бонусов и ошибок</title>
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="assets/css/charts.min.css">
  <link rel="stylesheet" href="assets/css/index.css" />
</head>

<body>
  <!-- Заголовок -->
  <header>
    <div class="name_project">
      <h1 class="name_main">Карта ошибок</h1>
    </div>

    <div class="exit">
      <div class="profile">Иконка профиля</div>
      <div class="exit_icon">Exit</div>
    </div>
  </header>
  

<div class="notFoundBox">
  <div class="notFoundFourLeft"></div>
  <div class="notFoundZero">
    <img src="assets/imgs/404/Andr.svg">

  </div>
  <div class="notFoundFourRight"> </div>
</div>
<button class="notFoundToBack">Вернуться</button>

</body>
</html>


